image:
  name: meltano/meltano
  entrypoint: [""]

variables: {{ env_vars('CI_SCHEDULE_NAME', 'MELTANO_ELT_EXTRACTOR', 'MELTANO_ELT_LOADER', 'MELTANO_ELT_TRANSFORM') }}

stages:
- elt

{{ env_var('CI_SCHEDULE_FULL_NAME') }}:
  stage: elt
  variables:
    MELTANO_DISABLE_AIRFLOW: 1
    MELTANO_DISABLE_DBT: 1
    MELTANO_DISABLE_POSTGRES: 1
  before_script:
  - meltano init --no_usage_stats example-project

  - cp example/meltano/$CI_SCHEDULE_NAME.yml example-project/meltano.yml

  - pip install -e .
  - gitlab-ci-scheduler download-latest-artifacts example-project/.meltano/meltano.db example-project/output/* || true

  - cd example-project
  - meltano install

  - mkdir -p output
  script:
  - meltano elt $MELTANO_ELT_EXTRACTOR $MELTANO_ELT_LOADER --job_id=$CI_SCHEDULE_NAME --transform=$MELTANO_ELT_TRANSFORM
  artifacts:
    paths:
    - example-project/.meltano/meltano.db
    - example-project/.meltano/run/elt
    - example-project/output
    when: always
